$portrait: 177.78%;
$landscape: 56.25%;

@media only screen {
    .home {
        width: $landscape;
        height: 100%;
    }
}
@media only screen and (orientation: portrait) {
    .home {
        width: 100%;
        height: $portrait;
    }
}
